/** 
 * Update the number of element on `grid-template` is correlated with 
 * the number of element on `grid-template-columns` to HomePage.css
*/

.topBarNavigation {
  display: grid;
  grid-template: 'nav nav nav' 'main main main';
}

.topFixedBarNavigation {
  display: grid;
  grid-template: 'nav nav nav' 'main main main';
}

.sideBarNavigation {
  display: grid;
  grid-template: 'nav main main' 'nav main main' 'nav main main';
}

.fixedNavigation {
  position: fixed;
  width: 100%;
  z-index: 1;
}
