.fixedMain {
  /* Adapt it according to the height of the fixed top navigation bar */
  margin-top: 18px;
}

.mainContainer {
  grid-area: main;
  display: grid;
  /* The number of `1fr` correspond to the number of columns to the <main> tag
     If the number change, we also need to adapt it on `grid-template` attribute on HomePage.css
  */
  grid-template-columns: 1fr 1fr;
  height: 1200px;
}

.subMain1 {
  background-color: var(--error-color);
  color: var(--primary-text);
}
.subMain2 {
  background-color: var(--warning-color);
  color: var(--primary-text);
}
